body {
	font-family: Arial, Verdana, sans-serif;
}

h1, h2 {
    color: navy;
    text-align: center;
}

h2 {

}

.main-divs	 {
	border:1px solid black; /* debug prop, to delete */
	position: relative;
	width: 49%;
    height: 550px;
    margin: 0px 10px 0px 10px;
    float:left;
}

#map-canvas {

}

#right-side {

}

#right-nav-links {
    float:right;
    text-align: right;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#loading-gif {
    position: absolute;
    top: 45%;
    left: 25%;
    z-index: 99;
}


#slider-and-date {
	text-align: center;
}

#matchday-slider { 
    width: 60%;
    height:20px;
}