body {
	font-family: Arial, Verdana, sans-serif;
}

h1, h2, h3 {
    color: navy;
    text-align: center;
}

h2 {

}

#div-browser-warning {
    display: none;
}

.main-divs	 {
	/* border:1px solid black;  debug prop, to delete */
	position: relative;
	width: 49%;
    height: 550px;
    margin: 0px 10px 0px 10px;
    float:left;
}

#map-canvas {

}

#right-side {

}

#right-nav-links {
    float:right;
    text-align: right;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#thanks-div {
    text-align: right;
}

#loading-gif {
    position: absolute;
    top: 45%;
    left: 25%;
    z-index: 99;
}

#slider-and-date {
	text-align: center;
}

#matchday-slider { 
    width: 60%;
    height:20px;
}


/* styles for standings table */
#league-table {
	margin-left: auto;
	margin-right: auto;
    border-collapse: collapse;
}

#league-table td {
    padding: 3px;
}

td, th {
    /* border:1px solid black;  debug prop, to delete */
    overflow:hidden; white-space:nowrap
}

.even-standings-row {
}

.odd-standings-row { 
    background-color: #DADADA;
}

.standings-cell-num {
    text-align: center;
}

.standings-cell-text { 
    text-align: left;

}

.standings-logo-svg {
    width:  15px;
    height: 15px;
}

#league-table-body td + td + td + td + td + td + td {
    font-weight: bold;
}

#standings-team-header {
    text-align: center;
}

#scrollable-table-div {
    height: 300px;
    overflow: auto;
}

#league-table-wrapper-div {
    width: 70%;
        margin-left: auto;
    margin-right: auto;
}