table.score_table td {
	padding: 3px auto 3px auto;
}

.team_cell {
	color: DarkSlateBlue;
	text-align: left;
	font-size: 15px;
}

.team_score {
	text-align: center;
	font-size: 15px;
}

#winning_team_score {
	font-weight:bold;
}

.game_status {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.game_date {
	font-size: 20px;
}

.svg_image_cell {
	width: 15px;
	height: 15px;
}